/* 
    UPDATE 0.0.4v
    MOFIED VALUES FOR MAKE THE NUI
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap'); /* Não mexer nisso */

*{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

body {
    display: none;
    user-select: none;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20vw;
    height: 32vh; 
    border-radius: 1vmax;
    background: #f3f3f3;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
}

.title {
    font-weight: 800;
    position: relative;
    top: 5%;
    font-size: 1vmax;
    display: flex;
    justify-content: center;
    color: #000000;
    min-width: 50%;
    height: 11%;
    border-bottom: 0.1vmax solid;
    border-image-slice: 1;
    border-image-source:  linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0.6601015406162465) 50%, rgba(0,0,0,0) 97%, rgba(0,0,0,0) 100%);
}

.title i {
    margin-top: 2px;
    margin-right: 2px;
}

/* MIDDLE */

.desc {
    text-align: center;
    position: absolute;
    top: 14%;
    width: 15vw;
    height: 6vh;
    padding-bottom: 5.5vmax;
    text-align: center;
    font-size: 0.85vmax;
    border-bottom: 0.1vmax solid;
    border-image-slice: 1;
    border-image-source:  linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 3%, rgba(0,0,0,0.6601015406162465) 50%, rgba(0,0,0,0) 97%, rgba(0,0,0,0) 100%);
}

.desc i {
    margin-right: 1px;
}

.font {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

/* BOTTOM */
#buttons{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.box button {
    position: relative;
    top: 20%;
    margin-top: 2%;
    border: none;
    width: 45%;
    height: 5vh;
    font-size: 1vmax;
    margin-left: 1%;
    margin-right: 1%;

    color: rgba(255, 255, 255);
    border-radius: 10px;
}

.botao {
    background: rgb(86, 211, 106);
}

#buttons i {
    margin-right: 5px;
}

.botao:hover {
    background: rgb(36, 211, 66);
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px -5px #32e04f, 0px 7px 15px -7px #000000;
    transition: 500ms;
}

.botao2 {
    background: rgb(255, 83, 83);
}

.botao2:hover {
    background: rgb(248, 29, 29);
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px -5px #e03232, 0px 7px 15px -7px #000000;
    transition: 500ms;
}